@import "tailwindcss";

/* Import fonts first */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Then your CSS rules */

  body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 100%;
  background-color: white;
  color: black;
}

.some-class {
  color: red;
}
